@model List<TeknikServis.Models.ViewModels.UserMarkaModelViewModel>
@{
    ViewBag.Title = "GetAriza";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="box box-success">
    <div class="col-md-9">

        <div class="nav-tabs-custom">
            <div class="tab-content">
                <div class="tab-pane active" id="timeline">
                    <ul class="timeline timeline-inverse">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var data = Model[i];
                            <li class="time-label">
                                <span class="bg-red">
                                    @*@data.EklemeTarihi*@
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-wrench bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><a class="btn btn-warning btn-xs" href="@Url.Action("GetArizaDetay", "Teknisyen")"><i class="fa fa-eye text-black"></i>  Read more</a></span>

                                    <h3 class="timeline-header"><b>Arıza No: @(i + 1)</b></h3>

                                    <div class="timeline-body">
                                        @data.MusteriAdi
                                    </div>
                                    <div class="timeline-body">
                                        @data.Aciklama
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-success btn-xs">Read more</a>
                                        <a class="btn btn-danger btn-xs">Delete</a>
                                        <a class="btn btn-warning btn-xs">Delete</a>
                                        <a class="btn btn-info btn-xs">Delete</a>
                                    </div>
                                </div>
                            </li>
                        }

                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

