
@{
    ViewBag.Title = "Raporlar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Raporlar</h2>
<div class="row">
    <div class=" col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div id="chart_div"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class=" col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <div class="row">
                    <label class="col-md-12" style="text-align:center;">Teknisyenlerin Son İşi Bitirme Süreleri</label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div id="timeline" style="height: 180px; width:700px;"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class=" col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <div class="row">
                    <label class="col-md-12" style="text-align:center;">Teknisyenlerin Son İşi Bitirme Süreleri</label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div id="chart_div2"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<!-- /.col (LEFT) -->
<!-- /.col (RIGHT) -->


@section bottom
{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function () {
            google.charts.load("current", { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    url: "@Url.Action("Rapor1","Admin")",
                    method: "get",
                    dataType: "json",
                }).done(function (e) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Anket Soruları');
                    data.addColumn('number', 'Puan');
                    $.each(e.data, function (key, value) {
                        data.addRow([value.Soru, value.Deger]);
                    });
                    var view = new google.visualization.DataView(data);
                    var options = { // View ın ayarları
                        title: "Genel Memnuniyet Grafiği",
                        width: 700,
                        height: 400,
                        bar: { groupWidth: "50%" },
                        legend: { position:"none"}

                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));// bu id deki div in içerisine
                    chart.draw(view, options); // tanımlanan view ı belirlenen ayarlarda göster
                });
            }

            google.charts.load('current', { 'packages': ['timeline'] });
            google.charts.setOnLoadCallback(drawChart1);
            function drawChart1() {
                $.ajax({
                    url: "@Url.Action("Rapor2","Admin")",
                    method: "get",
                    dataType: "json"
                }).done(function (e) {
                    console.log(e);
                    var container = document.getElementById('timeline');
                    var chart = new google.visualization.Timeline(container);
                    var dataTable = new google.visualization.DataTable();

                    dataTable.addColumn({ type: 'string', id: 'Sıra' });
                    dataTable.addColumn({ type: 'string', id: 'Teknisyen' });
                    dataTable.addColumn({ type: 'date', id: 'Başlangıç' });
                    dataTable.addColumn({ type: 'date', id: 'Bitiş' });
                    $.each(e.data, function (key, value) {
                        console.log(key);
                        var arizaTarihiB = new Date(value.ArizaBaslangicTarihiS);
                        var gun = arizaTarihiB.getDate();
                        var ay = (arizaTarihiB.getMonth() + 1);
                        var yil = arizaTarihiB.getFullYear();
                        var saat = arizaTarihiB.getHours();
                        var dakika = arizaTarihiB.getMinutes();
                        var saniye = arizaTarihiB.getSeconds();

                        var arizaTarihiBts = new Date(value.ArizaBitisTarihiS);
                        var gunBts = arizaTarihiBts.getDate();
                        var ayBts = (arizaTarihiBts.getMonth() + 1);
                        var yilBts = arizaTarihiBts.getFullYear();
                        var saatBts = arizaTarihiBts.getHours();
                        var dakikaBts = arizaTarihiBts.getMinutes();
                        var saniyeBts = arizaTarihiBts.getSeconds();

                        dataTable.addRows([
                            [(key+1)+"",value.TeknisyenAdi, new Date(yil, ay, gun, saat, dakika, saniye), new Date(yilBts, ayBts, gunBts, saatBts, dakikaBts, saniyeBts)],
                            ]);
                    });

                    
                    chart.draw(dataTable);
                    });

            }

             google.charts.load("current", { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart2);
            function drawChart2() {
                $.ajax({
                    url: "@Url.Action("Rapor4","Admin")",
                    method: "get",
                    dataType: "json",
                }).done(function (e) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Teknisyen Adı');
                    data.addColumn('number', 'Ortalama Puan');
                    $.each(e.data, function (key, value) {
                        data.addRow([value.isim, value.toplam]);
                    });
                    var view = new google.visualization.DataView(data);
                    var options = { // View ın ayarları
                        title: "Ortalama Teknisyen Memnuniyeti",
                        width: 700,
                        height: 400,
                        bar: { groupWidth: "50%" },
                        legend: { position:"none"}

                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_div2"));// bu id deki div in içerisine
                    chart.draw(view, options); // tanımlanan view ı belirlenen ayarlarda göster
                });
            }
        });
    </script>
}